nav {
    background-color: #24a2b8;
    padding: 10px;
}

#tableContainer {
    padding: 20px;
    padding-left: 50px;
}

.ids {
    font-weight: bold;
}

#serieCard {
    width: 20%;
    margin-top: 40px;
    padding: 0px;
}